<div>
  <div>
    <h1>
      <%= @the_session.title %>
    </h1>

    <div>
      <div>
        <a href="/sessions">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_session/<%= @the_session.id %>">
          Delete session
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Restaurant
      </dt>
      <dd>
        <%= @the_session.restaurant %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_session.owner %>
      </dd>

<p>Please tell me up to 3 dishes you are considering for your appetizers and mains:</p>

<form action="/insert_message" method="post">
  <input name="query_session_id" type="hidden" name="session_id" value="<%= @the_session.id %>">
  <textarea name="query_content" placeholder="Enter your answer..."></textarea>
  <button>Submit answer</button>
</form>

<dl>
<% @the_session.messages.order(:created_at).each do |a_message| %>
  <dt>
    <%= a_message.role %>
  </dt>

  <dd>
    <%= a_message.content %>
  </dd>
<% end %>
</dl>
